aiohttp==3.9.5
fastapi==0.110.3
gunicorn==22.0.0
httpx==0.27.0
numpy
pandas
pydantic==2.7.1
requests==2.32.2
SQLAlchemy==2.0.30
uvicorn==0.29.0
Django==3.2
cleo==1.0.0a5
semgrep==1.23.0
black==24.1.0
Flask==2.0.1
google-re2==1.1